.negrita{
	font-weight: bold;
}

.fuenteRoja{
	color: red;
}

.fuenteVerde{
	color: #009933;
}

.fuenteCeleste{
	color: #0099FF;
}

.italica{
	font-style: italic;
}

.subrayado{
	text-decoration: underline;
}

.tachado{
	text-decoration: line-through;
}

/*SOLO PARA IE 10 y 11, PARA EL RESTO SE USA LA HOJA DE ESTILOS*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.IE{
		color: #FF0000;
	}
} 
